* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

:root {
  --sidebar-width: 70px;
  --pagesbar-height: 50px;
  --searchbar-height: 45px;
  --geolocated-sidebar: 400px;
}

#app {
  background-color: rgb(21, 32, 43);
  height: 100vh;
  width: 100vw;
  color: white;
}
#map{
  color: black;
  
}
#content{
  overflow-x: unset;
  max-height: 250px;
}



.sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background-color: rgb(26, 40, 55);
  border-right: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.sidebar .sidebar-button {
  transition: 0.5s;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: rgb(22, 159, 242) solid 1px;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  
}

.sidebar .sidebar-button * {
  color: rgb(22, 159, 242);
}

.sidebar .sidebar-button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #d9dcd6;
  border: #0a1128 solid 1px;
}

.sidebar .sidebar-button:hover * {
  transition: 0.5s;
  color: #0a1128;
}

.sidebar .sidebar-button.active {
  border: #ffffff solid 1px;
}

.sidebar .sidebar-button.active * {
  color: #ffffff;
}

.right-content {
  height: 100vh;
  width: calc(100vw - var(--sidebar-width));
}

.section-content {
  height: calc(100vh - var(--pagesbar-height));
  width: calc(100vw - var(--sidebar-width));
}

.searchbar {
  height: var(--searchbar-height);
  width: calc(100vw - var(--sidebar-width));
  border-bottom: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.advanced-search-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

.advanced-search-button * {
  color: rgb(22, 159, 242);
}

.search-input {
  background-color: rgb(37, 51, 65);
  border-radius: 22px;
  width: 300px;
  height: 70%;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: white;
}

.search-input:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(29, 161, 242);
  color: white;
}

.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

.search-button * {
  color: #aab8c2;
}

.search-empty {
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height));
  justify-content: center;
  align-items: center;
}

.search-done {
  display: flex;
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height));
  color: white;
}

.search-container {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height));
  border-right: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.selection-bar {
  height: var(--searchbar-height);
  width: calc((100vw - var(--sidebar-width)) / 2);
  border-bottom: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.search-tweets-container {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height) - var(--searchbar-height));
  overflow-y: auto;
}

.search-tweets-container::-webkit-scrollbar {
  display: none;
}

.search-tweets-wrapper {
  transition: 0.2s;
  border: 1px solid rgb(47, 51, 54);
  box-sizing: border-box;
  border-radius: 16px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

.search-tweets-wrapper:hover {
  transition: 0.2s;
  background-color: rgba(18, 21, 23, 0.7);
}

.extra-content-wrapper {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height));
  display: flex;
  flex-direction: column;
}

.images-wrapper {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc((100vh - var(--pagesbar-height) - var(--searchbar-height)) / 2);
  overflow-y: auto;
  border-bottom: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.image-container-parent {
  width: calc((100vw - var(--sidebar-width)) / 6);
  height: calc((100vw - var(--sidebar-width)) / 6);
  padding: 5px;
}

.image-container-child {
  height: 100%;
  width: 100%;
  transition: 0.2s;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(47, 51, 54);
  box-sizing: border-box;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.image-container-child:hover {
  transition: 0.2s;
  background-color: rgba(18, 21, 23, 0.7);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.tweet-text {
  line-height: 1.3125;
}

.tweet-lookup-wrapper {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc((100vh - var(--pagesbar-height) - var(--searchbar-height)) / 2);
  overflow-y: auto;
}

.tweet-lookup-container {
  width: calc((100vw - var(--sidebar-width)) / 2);
  height: calc((100vh - var(--pagesbar-height) - var(--searchbar-height)) / 2);
}

.pages-wrapper {
  height: var(--pagesbar-height);
  width: calc(100vw - var(--sidebar-width));
  font-size: 20px;
  overflow-x: scroll;
  border-top: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.pages-wrapper::-webkit-scrollbar {
  display: none;
}

.pages-wrapper .page-button {
  background-color: rgb(53, 64, 72);
  height: 65%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 20px;
}

.pages-wrapper .page-button.active {
  background-color: white;
}

.delete-page-button {
  background-color: transparent;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 0px;
}

.add-page-button {
  background-color: rgb(53, 64, 72);
  height: 65%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 20px;
}

.popover {
  background-color: rgb(19, 30, 41);
  color: white;
  max-width: 350px;
}

.popover_item {
  color: white;
}

.popover-header {
  background-color: rgb(26, 40, 55);
  border-bottom: none;
}

.popover-body {
  color: white;
}

.arrow {
  background-color: transparent;
}

.bs-popover-bottom .arrow::after {
  border-bottom-color: rgb(26, 40, 55);
}

.bs-popover-right .arrow::after {
  border-right-color: rgb(26, 40, 55);
}

label {
  color: white;
  font-size: large;
  margin-top: 5px;
}

.geolocated-sidebar {
  height: calc(100vh - var(--pagesbar-height));
  width: var(--geolocated-sidebar);
}

.maps-search-container {
  width: var(--geolocated-sidebar);
  height: calc(100vh - var(--pagesbar-height));
  border-right: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
}

.maps-selection-bar {
  height: var(--searchbar-height);
  width: var(--geolocated-sidebar);
  border-bottom: rgb(56, 68, 77) 1px solid;
  box-sizing: border-box;
  font-size: 15px;
}

.maps-search-tweets-container {
  width: var(--geolocated-sidebar);
  height: calc(100vh - var(--pagesbar-height) - var(--searchbar-height));
  overflow-y: auto;
}

.maps-search-tweets-container::-webkit-scrollbar {
  display: none;
}

.search-tweets-wrapper {
  transition: 0.2s;
  border: 1px solid rgb(47, 51, 54);
  box-sizing: border-box;
  border-radius: 16px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

.search-tweets-wrapper:hover {
  transition: 0.2s;
  background-color: rgba(18, 21, 23, 0.7);
}